# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Flask environment files
instance/
.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Test coverage files
.coverage

# Generate files
dataFrame.csv

# Static files
app/static/*.png
app/static/css/output.css

# Node.js (Tailwind)
node_modules/
package-lock.json

# IDE config files
.vscode/
.idea/

# OS system junk
.DS_Store
Thumbs.db
